<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"content","layout":{"type":"constrained"}} -->
<main id="content" class="wp-block-group content">
	<!-- wp:group {"tagName":"header","metadata":{"name":"Page header"},"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|20"}},"className":"page-header","layout":{"type":"default"}} -->
	<header class="wp-block-group alignwide page-header" style="margin-bottom:var(--wp--preset--spacing--40)">
		<!-- wp:query-title {"type":"search","showSearchTerm":false,"fontSize":"xxxxx-large"} /-->
	</header>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"avi/posts-list"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->
