<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"content","layout":{"type":"default"}} -->
<main id="content" class="wp-block-group content">
	<!-- wp:group {"tagName":"article","metadata":{"name":"Article"},"className":"entry","layout":{"type":"default"}} -->
	<article id="entry" class="wp-block-group entry">
		<!-- wp:group {"tagName":"header","metadata":{"name":"Header"},"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|30"}},"className":"entry-header","layout":{"type":"constrained"}} -->
		<header id="entry-header" class="wp-block-group entry-header" style="margin-bottom:var(--wp--preset--spacing--50)">
			<!-- wp:group {"metadata":{"name":"Meta"},"align":"wide","style":{"spacing":{"blockGap":"2rem"}},"className":"entry-meta","layout":{"type":"flex","flexWrap":"wrap"}} -->
			<div class="wp-block-group alignwide entry-meta">
				<!-- wp:post-terms {"term":"category"} /-->
				<!-- wp:post-date {"format":"M j, Y","isLink":true} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|20"}}},"className":"entry-title"} /-->

			<!-- wp:post-featured-image {"align":"full"} /-->
		</header>
		<!-- /wp:group -->

		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

		<!-- wp:group {"tagName":"footer","metadata":{"name":"Footer"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|30"},"margin":{"top":"0"}}},"className":"entry-footer","layout":{"type":"constrained"}} -->
		<footer class="wp-block-group entry-footer" style="margin-top:0;padding-top:var(--wp--preset--spacing--30)">
			<!-- wp:post-terms {"term":"post_tag","separator":"","className":"is-style-pill"} /-->
		</footer>
		<!-- /wp:group -->
	</article>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"avi/hidden-comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->
