/*-------------------------------------------------------
Gallery
-------------------------------------------------------*/

/*
Add additional margin to the gallery block within post content.
*/

.wp-block-post-content p + .wp-block-gallery:not([style*="margin-top"]) {
	margin-top: calc(var(--wp--style--block-gap) * 1.5);
}

.wp-block-post-content :where(p, .wp-block-heading) + .wp-block-gallery:not([style*="margin-bottom"]) {
	margin-bottom: calc(var(--wp--style--block-gap) * 1.5);
}

/*
Alignwide and alignfull gallery block.
*/

.wp-block-post-content p + .wp-block-gallery.alignwide:not([style*="margin-top"]),
.wp-block-post-content p + .wp-block-gallery.alignfull:not([style*="margin-top"]) {
	margin-top: calc(var(--wp--style--block-gap) * 2);
}

.wp-block-post-content :where(p, .wp-block-heading) + .wp-block-gallery.alignwide:not([style*="margin-bottom"]),
.wp-block-post-content :where(p, .wp-block-heading) + .wp-block-gallery.alignfull:not([style*="margin-bottom"]) {
	margin-bottom: calc(var(--wp--style--block-gap) * 2);
}
