/*-------------------------------------------------------
Query
-------------------------------------------------------*/

.wp-block-query.grid > * {
	grid-column: 1 / -1;
}

@media only screen and (min-width: 768px) {
	.wp-block-query.grid > * {
		grid-column: 3 / 9;
	}
}

@media only screen and (min-width: 960px) {
	.wp-block-query.grid > * {
		grid-column: 5 / 13;
	}
}

.wp-block-query.grid .wp-block-post-template {
	border-top: 1px solid var(--wp--preset--color--contrast-4);
}

/*
Post date
*/

@media only screen and (min-width: 782px) {
	.wp-block-query.grid .wp-block-post-date {
		text-align: right;
	}
}

/*-------------------------------------------------------
Query Item
-------------------------------------------------------*/

/*
Query item featured image
*/

.wp-block-query .wp-block-post-featured-image {
	overflow: hidden;
}

.wp-block-query .wp-block-post-featured-image img {
	transform: scale(1);
	transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.wp-block-query .wp-block-post-featured-image a:hover img,
.wp-block-query .wp-block-post-featured-image a:focus img,
.wp-block-query .wp-block-post-featured-image a:active img {
	transform: scale(1.05);
}
